
<app-headerhome></app-headerhome>

<div class="container">
    <table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded overflow-hidden" style="margin-top: 100px; " >
        <thead>
          <tr style="background-color: #6c7ae0; color: white;" class="text-center">
          
            <th scope="col">Request No</th>
            <th scope="col">category</th>
            <th scope="col">Date Of Request raised</th>
            <th scope="col">Status</th>
            <th scope="col">Discription</th>
            <th scope="col">Delete</th>
            <th scope="col">UpdateRequest</th>
          </tr>
        </thead>
        <tbody>
            <tr></tr>
            <tr  *ngFor="let request of pendingRequest " class="text-center">
               
                <td>{{ request.requestId }}</td>
                <td>{{ request.category }}</td>
                <td>{{ request.requestDate }}</td>
                <td>{{ request.requestStatus }}</td>
                <td>{{ request.description }}</td>
                <td><button class="btn" (click)="deletePendingRequest(request.requestId)"><i class="bi bi-trash3-fill text-danger"></i> </button></td>
                <td><button class="btn" (click)="fillRequestData(request)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-fill text-warning"></i> </button></td>

        </tbody>
      </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update  Request</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="row ">
            <div class="col-lg-12 shadow p-3 mb-5 bg-white rounded">
                <h4 class="mb-4"></h4>
             <form class="row g-3" >
        
                <div class="col-md-6">
                    <label for="inputcategory" class="form-label">Select Category</label>
                    <select id="inputcategory" class="form-select" name="category"    [(ngModel)]="fillRequest.category">
                      <option value="0">select category</option>
                      <option 
                      *ngFor="let category of categoryselect" >{{category}}</option>
                      
                    </select>
                  </div>
        
          <div class="col-md-6">
            <label for="inputdate" class="form-label">Date</label>
            <input type="date" class="form-control" id="inputdate" name="requestdate" [(ngModel)]="fillRequest.requestDate" >
          </div>
          <div class="col-md-6">
            <label for="inputstatus" class="form-label">Status</label>
            <select id="inputStatus" class="form-select" name="requestStatus" [(ngModel)]="fillRequest.requestStatus">
              <option *ngFor="let status of statusOption">{{status}}</option>
          
        
            </select>
          </div>
        
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="description"[(ngModel)]="fillRequest.description" ></textarea>
            <label for="floatingTextarea">Description</label>
          </div>
        
        
          <div class="col-12">
            <button class="w-100 btn btn-lg  mb-3" style="background-color: #6c7ae0;color:white"  type="submit" (click)="updatePendingRequest(fillRequest.requestId)">Update Request</button>
        </div>
        </form>
            </div>
 
        </div>
      </div>
 
    </div>
  </div>
</div>