<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">CustomerServicePortal <i class="bi bi-headset"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="!changeHeader">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>

      <div class="collapse navbar-collapse" id="navbarResponsive" *ngIf="changeHeader">
        <ul class="navbar-nav ms-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/dashboard">Pending Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/closedRequest">Closed Request</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manage Request</a>
          </li>
       
        </ul>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-3 text-primary"></i>      </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#" routerLink="/newRequest">Submit New Request</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/profile">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"   (click)="signOutCustomer()">Sign out</a></li>
          </ul>
        </div>

      </div>
    

    </div>
  </nav>