<app-headerhome></app-headerhome>
<div class="container col-xl-10 col-xxl-8 px-4 margintop">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
       <h1 class="text-center"><i class="bi bi-headset"></i></h1> 
        <h1 class="display-4 fw-bold  text-primary">CUSTOMER SERVICE </h1>
        <p class="fs-1 text-primary" >PORTAL</p>
        <p class="col-lg-10 fs-4 ">We provide our customer to raise a request if they are facing issue with our portal and they can track and update there details here...</p>
        <p class="fs-3 text-primary">We are here for you please login</p>

      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" [formGroup]="loginForm">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" formControlName="loginemail" [(ngModel)]="loginData.email" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          <span class="error" *ngIf="loginemail.invalid && loginemail.touched">Email is Required</span>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" formControlName="password" [(ngModel)]="loginData.password" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span class="error" *ngIf="password.invalid && password.touched">Password is Required</span>

          </div>
         
          <button class="w-100 btn btn-lg btn-info mb-3" (click)="loginCustomer()" type="submit">LOGIN</button>
          <p>Not a registered user?</p>
          <button class="w-100 btn btn-lg btn-primary mt-0 " routerLink="/register" type="submit">Register Now</button>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>
  
  
  